#register_form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  gap: 2rem;
}

#register_form > .title {
  margin: 0;
}

#register_form > .user_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

#register_form > .user_input > .user_input_item {
  width: 100%;
  position: relative;
}

#register_form > .user_input > .user_input_item > input {
  border-bottom: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
}

#register_form > .user_input > .user_input_item > input:valid {
  border-bottom: 1px solid green;
}

#register_form > .user_input > .user_input_item > .verify_message {
  position: absolute;
  left: 100%;
  margin: 6px 0 0 1rem;
  top: 0;
  width: 10rem;
}

#register_form > .user_input > .user_input_item > .verify_message.error {
  color: red;
}

#register_form > .user_input > .user_input_item > .verify_message.ok {
  color: green;
}

#register_form .join_button {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

#register_form .join_button > button {
  width: calc(100% - 1rem);
  background: linear-gradient(to right, rgb(85, 223, 233), rgb(103, 103, 230));
  color: white;
  padding: 0.625rem 0;
}
