:root {
  --ediya-main-color: #243c84;
  --font-sans: Pretendard, sans-serif;
}

body {
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: initial;
}

button {
  background-color: initial;
  border: initial;
  padding: initial;
}

input {
  border: none;
}

input[type='search'] {
  padding: 0;
}

[hidden] {
  display: none;
}
