a:hover {
  text-decoration: underline;
}

header > #top_header {
  display: flex;
  justify-content: space-between;
  margin: 10px 16px;
}

header > #top_header > * {
  align-self: center;
}

header > #top_header a {
  display: inline-block;
}

header > #top_header .application_link:hover {
  text-decoration: none;
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 100%;
}

.login_button {
  background-color: #1a73e8;
  color: white;
  padding: 9px 18px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.login_button:hover {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  text-decoration: none;
}

.login_button:active {
  background-color: #1b63c1;
}

main {
  margin: 0 auto;
  max-width: 32rem;
}

main > form[name='search'] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > form[name='search'] .middle_search {
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.search_input {
  appearance: none;
  border: none;
  font-size: 1rem;
}

.search_input {
}

main > form[name='search'] .search_bottom_buttons {
  display: flex;
  gap: 8px;
}

main > form[name='search'] .search_bottom_buttons > * {
  background-color: #f8f9fa;
  padding: 8px 14px;
}

footer {
  background-color: #f2f2f2;
}

footer .footer_top {
  padding: 1rem;
  border-bottom: 1px solid #dadce0;
}

footer .footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer_bottom > * {
  align-self: center;
}

footer .footer_bottom a,
footer .footer_bottom button {
  color: #70757a;
  padding: 15px;
  display: inline-block;
}

@media (min-width: 530px) {
  footer .footer_bottom {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1280px) {
  footer .footer_bottom {
    justify-content: space-between;
  }
}
